@import "../../../resources/styled/variables.scss";
.header {
  width: 100%;
  height: 70px;
  ul {
    width: 20%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    float: right;
    list-style-type: none;
    li:not(:last-child) {
      margin: 10px;
    }
  }
}
.header {
  &.dark {
    background-color: $dark-color;
  }
  &.white {
    background-color: $light-color;
  }
}
